*
{
    padding: 10px;
    margin: 10px;
    color: #ffffff;
}

h1
{
    font-size: 72px;
    background-color: #333b47;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

div
{
    padding: 0px;
    margin:  0px;
}
.contact
{
    width : 30%;
    height: 1200px;
    background-color: blue;
    text-align: justify;
    
}

.data
{
    width : 70%;
    height: 1200px;
    background-color: #dee0e4;
    
}

.side
{
    display: flex;
    text-align: center;
}